{% extends 'base.html.twig' %}


{% block body %}
    {% for user in users %}
        <p>{{ user.username }}</p>
        {% for post in user.posts %}
            <p><a href="{{ path('post_show', {id: post.id}) }}">{{ post.title }}</a></p>
        {% endfor %}
    {% endfor %}
{% endblock %}